{% extends 'base.html' %}
{% load static %}
{% block content %}
<h1>Welcome to TrackHabit</h1>
<body>
    <div class="login_cred">
        <a href="{% url 'login' %}"class='log'>login</a>
        <a href="{% url 'auth_logout' %}"class='log'>logout</a>
    </div>
    <div class = title>
        <a href="{% url 'create_habit' %}"class='add_button'>Add habit</a>
        <h2>Habits</h2>
        
    </div>


    <div class="habits_container">
            
            <br>
            <br>
            {% for habit in habits %}
            <div class="habits">
                <a href="{% url 'view_habit' habit.id %}" class="Habit_name">{{ habit.name }}</a>
                <p>{{ habit.description }}</p>
                <br>
                <br>
            </div>
            {% endfor %}
    </div>
</body>
{% endblock %}