{% extends 'base.html' %}
{% load static %}
{% block content %}
<h1>Welcome to TrackHabit</h1>
<body>
    <div class="login_cred">
        <a href="{% url 'login' %}">login</a>
        <a href="{% url 'auth_logout' %}">logout</a>
    </div>


    <div class="habits_container">
            <h2>Habits</h2>
            <a href="{% url 'create_habit' %}">Add habit</a>
            <br>
            <br>
            {% for habit in habits %}
            <div class="habits">
                <a href="{% url 'view_habit' habit.id %}" class="Habit_name">{{ habit.name }}</a>
                <p>{{ habit.description }}</p>
                <br>
                <br>
            </div>
            {% endfor %}
    </div>
</body>
{% endblock %}